name: Test the package

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  merge_group:

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Test on Ubuntu
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        mode: [debug, release]
    steps:
      - name: Prepare
        run: chmod 755 $HOME
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Install Rust toolchain
        run: |
          rustup update stable
          rustup default stable
      - name: Test judge-client-3
        run: |
          cd mocktest
          mode=${{ matrix.mode }} ./test_run.sh
      - name: Debug
        if: always()
        run: journalctl -b
